body {
  background-color: #ede0e0;
  margin: 0;
  padding: 0;
}
.question label {
  display: block;
  padding: 6px 10px;
  margin: 4px 0;
  border-radius: 4px;
  cursor: pointer;
}

.correct {
  background-color: #d4edda;
  color: #155724;
}

.wrong {
  background-color: #f8d7da;
  color: #721c24;
}

.reset {
  display: block;
  margin: auto;
  justify-content: center;
  background-color: rgb(239, 2, 30);
  color: #d4edda;
  border-radius: 20px;
}

.question p:nth-child(1) {
  font-size: 20px;
  background-color: rgb(207, 187, 218);
}
.answer:hover {
  color: rgb(157, 181, 92);
}
