/* Toàn trang */
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #afaf80;
  text-align: center;
}

/* Logo */
.logo {
  width: 200px;
  border-radius: 50%;
  margin-top: 40px;
}

/* Chữ nhỏ dưới logo */
.brand {
  margin: 5px 0 30px;
  color: #ffffff;
}

/* Tiêu đề */
h1 {
  margin-bottom: 20px;
  color: #ffffff;
}

/* Form */
form {
  width: 300px;
  margin: 0 auto;
  background-color: #afaf80;
  padding: 20px;
}

/* Label */
label {
  float: left;
  font-size: 15px;
  color: #ffffff;
}

/* Input */
input {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  box-sizing: border-box;
  border-radius: 5px;
  border: 1px solid #000000;
}

/* Button */
button {
  width: 35%;
  padding: 10px;
  margin-top: 15px;
  background-color: #4a90e2;
  border: none;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #b83535;
  animation: rainbow 1s linear infinite;
}
/* Hiệu ứng Rainbow */
@keyframes rainbow {
  from {
    filter: hue-rotate(0deg);
  }
  to {
    filter: hue-rotate(360deg);
  }
}