body {
  background-color: #e8f0fe;
  margin: 0;
  padding: 0;
}
table {
  text-align: center;
  width: 95%;
  margin: auto;
  border-collapse: collapse;
}
table,
th,
td {
  border: 1px solid black;
}
.baitap {
  text-decoration: none;
}
th {
  background-color: blue;
}
/* :hover tác dụng khi di chuột qua  */
.baitap:hover {
  color: chocolate;
}
/* :link tác dụng khi người dùng chưa click vào link */
.baitap:link {
  color: blue;
}
/* :visited tác dụng khi người dùng đã click */
.baitap:visited {
  color: red;
}
/* :empty tác dụng khi thẻ ở trạng thái trống */
/* :target tác dụng khi click vào link nhảy đoạn */
