body {
  background-color: #ede0e0;
  margin: 0;
  padding: 0;
}
h2 {
  font-size: 32px;
}
h3 {
  font-size: 24px;
}
p {
  font-size: 18px;
}
ul {
  font-size: 18px;
}

/* infor */
.infor {
  text-decoration: none;
}
.infor:hover {
  color: red;
}
.foot {
  text-align: end;
}
