h2 {
  text-align: center;
  margin-bottom: 20px;
  color: black;
}

form {
  text-align: center;
  width: 300px;
  margin: 0 auto;
  background-color: white;
  padding: 20px;
  border-radius: 8px;
}
button {
  width: 100%;
  padding: 10px;
  margin-top: 15px;
  background-color: rgb(75, 114, 162);
  border: none;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}
