body {
  background-color: #e8f0fe;
  margin: 0;
  padding: 0;
}
main {
  font-family: arial;
}
.editor {
  display: flex;
  gap: 10px;
}
textarea {
  width: 33%;
  height: 200px;
  font-family: monospace;
  padding: 10px;
}
iframe {
  width: 100%;
  height: 300px;
  border: 1px solid #ccc;
  margin-top: auto;
}
.result {
  text-align: center;
  font-size: 24px;
}
.run {
  background-color: rgb(89, 89, 237);
  width: 100px;
  border-radius: 20px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 20px;
}
